
<div class="wrapper">
    <div class="box--gradient silver">
<div class="container">
    <h1>Login Form </h1>
    <div class="input">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Name</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>Email</mat-hint>
    </mat-form-field>
  </p>

  <p>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-hint>Password</mat-hint>
</mat-form-field>

</p>

<button mat-raised-button color="primary" class="button"><a routerLink="/home">Login</a></button>

</div>
</div>

       
    </div>
  </div>