<!-- <body><h1><b> Components</b></h1>

<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="p">Item 1</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 2</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 3</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 4</button></a></mat-list-item>

  </mat-list>
   
</body>
  <mat-list>
    <mat-list-item>Pepper</mat-list-item>
    <mat-list-item>Salt</mat-list-item>
    <mat-list-item>Paprika</mat-list-item>
   </mat-list> -->

   <mat-nav-list>
    <h2>Components</h2>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/card" (click)="evemittor()">Card</a>
    <mat-divider></mat-divider>
   
    <a mat-list-item href="" routerLink="/button" (click)="evemittor()">Button</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/lists" (click)="evemittor()">List</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/nav" (click)="evemittor()">Badge</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/divider" (click)="evemittor()">Divider</a>
    
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/slider" (click)="evemittor()">Slider</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/checkbox" (click)="evemittor()">Checkbox</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/tabs" (click)="evemittor()"> Tabs</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/datepicker" (click)="evemittor()">Datepicker</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/login" (click)="evemittor()"> Login</a>
    <mat-divider></mat-divider>
  </mat-nav-list>
