<!-- <body><h1><b> Components</b></h1>

<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="p">Item 1</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 2</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 3</button></a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href=""><button mat-raised-button color="primary">Item 4</button></a></mat-list-item>

  </mat-list>
   
</body>
  <mat-list>
    <mat-list-item>Pepper</mat-list-item>
    <mat-list-item>Salt</mat-list-item>
    <mat-list-item>Paprika</mat-list-item>
   </mat-list> -->
   <body class="color">
   <mat-accordion>
    
   

<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Components <mat-icon>settings_input_component</mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list>
    
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/card" (click)="evemittor()">Card</a>
    <mat-divider></mat-divider>
   
    <a mat-list-item href="" routerLink="/home/button" (click)="evemittor()">Button</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/lists" (click)="evemittor()">List</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/nav" (click)="evemittor()">Badge</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/divider" (click)="evemittor()">Divider</a>
    
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/slider" (click)="evemittor()">Slider</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/checkbox" (click)="evemittor()">Checkbox</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/tabs" (click)="evemittor()"> Tabs</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/datepicker" (click)="evemittor()">Datepicker</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="" routerLink="/home/login" (click)="evemittor()"> Login</a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        CDKs <mat-icon>grain</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/home/dragndrop" (click)="evemittor()">DragNDrop</a>
      <mat-divider></mat-divider>
     
      <a mat-list-item href="" routerLink="/home/dialog" (click)="evemittor()">Dialog</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/home/lists" (click)="evemittor()">List</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/nav" (click)="evemittor()">Badge</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/divider" (click)="evemittor()">Divider</a>
      
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/slider" (click)="evemittor()">Slider</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/checkbox" (click)="evemittor()">Checkbox</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/tabs" (click)="evemittor()"> Tabs</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/datepicker" (click)="evemittor()">Datepicker</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/login" (click)="evemittor()"> Login</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-expansion-panel>
  </mat-accordion>
<br>
  <mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        APIs <mat-icon> satellite</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="home/card" (click)="evemittor()">Card</a>
      <mat-divider></mat-divider>
     
      <a mat-list-item href="" routerLink="home/button" (click)="evemittor()">Button</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/lists" (click)="evemittor()">List</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/nav" (click)="evemittor()">Badge</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/divider" (click)="evemittor()">Divider</a>
      
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/slider" (click)="evemittor()">Slider</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/checkbox" (click)="evemittor()">Checkbox</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/tabs" (click)="evemittor()"> Tabs</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/datepicker" (click)="evemittor()">Datepicker</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="" routerLink="/login" (click)="evemittor()"> Login</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-expansion-panel>
  </mat-accordion>

<br>

  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          More <mat-icon>all_inclusive</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/card" (click)="evemittor()">Card</a>
        <mat-divider></mat-divider>
       
        <a mat-list-item href="" routerLink="/button" (click)="evemittor()">Button</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/lists" (click)="evemittor()">List</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/nav" (click)="evemittor()">Badge</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/divider" (click)="evemittor()">Divider</a>
        
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/slider" (click)="evemittor()">Slider</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/checkbox" (click)="evemittor()">Checkbox</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/tabs" (click)="evemittor()"> Tabs</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/datepicker" (click)="evemittor()">Datepicker</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/login" (click)="evemittor()"> Login</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-expansion-panel>
    </mat-accordion>


    <br>

  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account <mat-icon>account_box</mat-icon> 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/card" (click)="evemittor()">Card</a>
        <mat-divider></mat-divider>
       
        <a mat-list-item href="" routerLink="/button" (click)="evemittor()">Button</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/lists" (click)="evemittor()">List</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/nav" (click)="evemittor()">Badge</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/divider" (click)="evemittor()">Divider</a>
        
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/slider" (click)="evemittor()">Slider</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/checkbox" (click)="evemittor()">Checkbox</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/tabs" (click)="evemittor()"> Tabs</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/datepicker" (click)="evemittor()">Datepicker</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="" routerLink="/login" (click)="evemittor()"> Login</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-expansion-panel>
    </mat-accordion>
</body>