<body class="home">

    <mat-drawer-container class="" autosize>
      <mat-drawer #drawer class="" mode="push">
        <app-sidedata  (opener)="drawer.toggle()"></app-sidedata>
        <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
      </mat-drawer>
    
    
    
    
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
         
                <mat-icon>menu</mat-icon>
           
        </button>
   
       
        
        <span><img src="https://pbs.twimg.com/media/EfJ7qS0WAAER9vN?format=png&name=900x900"></span>
        
        <span class="example-spacer"></span>
    
        <mat-form-field appearance="fill">
          <mat-label>Theme</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
   
    
    
      
    <div class="content">
      <router-outlet ></router-outlet> 
    </div>
    
    
   
    </mat-drawer-container>
   
    </body>
