/* .example-container {
    width: 400px;
    height: 200px;
  
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-container {
    width: 100%;
    height: 100%;
   
    border: 1px solid #555;
  } */
  .example-spacer {
    flex: 1 1 auto;
  }
mat-sidenav-container, mat-sidenav-content, mat-drawer-container {
    height: 100%;
    background-color: rgb(212, 221, 230);
}
img{
   
    width: 17%;
    margin-top: 1%;
    background-color: white;
    object-fit: fill;
    
}
mat-form-field, mat-label, mat-select, mat-option {
    margin-top: 2%;
    display: flex;
   
}
.content{
/*  
  display: flex;
  justify-content: center; */



}

